body {
    background-color: cornsilk;
}
h1 {
    background-color: palevioletred;
    color: beige;
    text-align: center;
    border: 5px salmon;
}
h2 {
    color: violet;
    background-color: blanchedalmond;
    text-align: left;
    border: 20px salmon;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rosybrown;
}